<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.peng.spring.boot.security.demo.mapper.mapper.BaseMenuMapper" >
  <resultMap id="BaseResultMap" type="com.github.peng.spring.boot.security.demo.mapper.model.BaseMenu" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="MENU_SEQ" property="menuSeq" jdbcType="VARCHAR" />
    <result column="MENU_PARENT_ID" property="menuParentId" jdbcType="INTEGER" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="MENU_ICON" property="menuIcon" jdbcType="VARCHAR" />
    <result column="MENU_ORDER" property="menuOrder" jdbcType="VARCHAR" />
    <result column="IS_LEAF" property="isLeaf" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectRootMenusByUserId" resultMap="BaseResultMap">
    SELECT DISTINCT bm.* FROM base_menu bm LEFT JOIN base_role_menu brm ON bm.id = brm.MENU_ID
    LEFT JOIN base_user_role bur ON brm.ROLE_ID = bur.ROLE_ID WHERE bur.USER_ID = #{userId} and bm.menu_parent_id IS NULL ORDER BY bm.MENU_ORDER
  </select>
</mapper>